.option-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.option {
  font-size: 15px;
  padding: 5px 20px;
  background-color: rgb(178, 175, 175);
  color: rgb(9, 1, 16);
  margin: 10px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.option:hover {
  background-color: rgb(73, 73, 73);
  color: aliceblue;
  transition-duration: 0.75s;
}
.option:focus {
  background-color: blue;
}

@media only screen and (max-width: 800px) {
  .option-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
